#Temp
eks-kubernetes-masterclass/section-2-create-cluster/Lab-2/

#Files used for eks cluster creation
eksctl-config.yaml
irsa-trust-policy.json

temp/
secrets/


# -------------------------
# detect-secrets / pre-commit
# -------------------------


# -------------------------
# Node / ESLint
# -------------------------
.eslintcache

# -------------------------
# detect-secrets / git-secrets
# -------------------------
.gitallowed       # local only, ignore if not shared
.secrets.baseline

# -------------------------
# Semgrep
# -------------------------
.semgrep/cache/
.semgrep/.semgrep_results.json


# Local pre-commit cache / hooks
.pre-commit/              # pre-commit cache, ignore

# -------------------------
# Secrets / sensitive info
# -------------------------

# Actual secrets should NEVER be committed
*.env
*.env.local
*.key
*.pem
*.crt
*.p12
*.jks
secrets.txt


# Backup files
*.bak
*.tmp
*.bkp.*

# -------------------------
# Node.js
# -------------------------

# Node modules
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
*.env
config.env

# AWS CLI/SDK credentials
.aws/


# Temporary files
.DS_Store
*.tmp
*.swp
.idea/

# VS Code
.vscode/
.history/


# Optional: build/output folders
dist/
build/
